.brand-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  /* Adjust the width of the logo as needed */
  height: auto;
  /* Maintain the aspect ratio */
  margin-right: 10px;
  /* Add space to the right of the logo */
  border-radius: 60px;
}

.text-container {
  background-color: #05effb;
  /* Green background color */
  border: 2px solid #000000;
  /* Black border */
  padding: 8px;
  /* Adjust padding as needed for spacing inside the border */
  border-radius: 8px;
  /* Add border radius for rounded corners */
  border-radius: 60px;
}

.text-with-magic {
  /* Add your magic styles here */
  font-size: 18px;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Adjust the font weight as needed */
  color: #000000;
  /* Black text color */
  margin-right: 10px;
  position: relative;
  top: -4px;
}

.text-with-magic2 {
  /* Add your magic styles here */
  font-size: 10px;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Adjust the font weight as needed */
  color: #000000;
  /* Black text color */
  margin-right: 10px;
  position: fixed;
  top: 48px;
  left: 84px;
}

.nav-theme {
  background-color: #101018e3;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
